.display {
    padding-top: 70px;
    position: relative;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 26px;
            margin-bottom: 40px;
            color: #dadada;
            text-shadow: 2px 2px 2px black;
        }
    }

    .search-container {
        position: relative;
    }

    .search-ico {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        color: #dadada;
        cursor: pointer;
    }

    &-search {
        width: 100%;
        height: 50px;
        border-radius: 19px;
        font-size: 24px;
        padding-left: 14px;
        font-family: 'Roboto', serif;
        outline: none;
        border: none;
        background-color: hsla(0, 0%, 100%, 0.364);
        color: #dadada;
        text-shadow: 2px 2px 2px black;

        &::placeholder {
            color: #dadada;
            opacity: 0.6;
        }
    }

    h1 {
        text-align: left;
        font-size: 46px;
        color: #dadada;
        text-shadow: 2px 2px 2px black;
    }

    &-city {
        text-transform: uppercase;
        text-align: left;
        font-size: 34px;
        color: #dadada;
        text-shadow: 1px 1px 2px black;
    }

}

@media (max-width: 768px) {
    .display-header {
        flex-direction: column;
    }

}

@media (max-width: 576px) {
    .display-header {
        flex-direction: column;

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 21px;
        }
    }

    .display-city {
        font-size: 26px;
    }

}