.header {
    padding: 10px;

    &-logo {
        display: flex;
        align-items: center;
        gap: 15px;

        h1 {
            color: white;
            text-shadow: 1px 1px 2px black;
            font-size: 52px;
            font-weight: bold;
            letter-spacing: -1px;
        }

    }

    &-link {
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    svg {
        color: white;
    }
}

@media (max-width: 576px) {

    .header {
        .MuiContainer-root {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .header-logo {

        h1 {
            font-size: 44px;
        }
    }


}